<!DOCTYPE HTML>
 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>code-generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Schema列表</h1>
  <p>注意：schema名称即模块名称，同一个schema下的所有的表属于同一模块。</p>

  <table>
    <tr th:each="String : ${schemaName}">
      <td th:text="${String}"></td><td><a th:href="@{/showtable(schemaName=${String})}">点击进入</a></td>
    </tr>
  </table>

 <!--  <p>
    <a href="../home.html" th:href="@{/}">Return to home</a>
  </p> -->
</body>
</html>